<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Welcome to PackParser</title>
        <meta charset="utf-8">
        {# utilisation de milligram parce que voilà .... un jour avec bootstrap pour quelque chose de plus complet ... #}
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link href="{{ url_for('static', filename='css/milligram.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
    </head>
    <body>
    <div class="container">
        <header class=row>
            <!-- top banner -->
        </header>
        <!-- les résultats -->
        {% block container %} {% endblock %}
        <!-- footer -->
    </div>
    </body>
</html>