{% extends 'base.html' %}

{% block container %}

{# Sale mais voir dans views.py pourquoi .... :'( #}
{% for r in song_row %}
    <table border=1>
    <thead>
        <td> {{ r[0] }} </td>
        <td> {{ r[1] }} </td>
        <td> <img src="/static/images/{{ r[2] }}" /></td>
    </thead>
    {% for d in data_row %}
        {% if d[0] == r[0] %}
        <tr>
            <td> {{ d[1] }} </td>
            <td> {{ d[2] }} </td>
            <td> {{ d[3] }} </td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
{% endfor %}

{% endblock %}