{% extends 'base.html' %}

{% block container %}
<p>
Hola gringo ! Voici la selection de chansons qui correspond à ta recherche !<br>
Clique sur le titre pour aller directement dans le Pack qui contient la musique pour voir plus d'infos !
</p>
{% for song in song_list %}
<div class="row">
    <div class="column"><img src="/static/images/{{ song[5] }}" /></div>
    <div class="column"> <a href={{ url_for('list_pack', id=song[1], _anchor=song[2]) }} ><h3>{{ song[2] }}</h3></a> </div>
    {% if song[3] == song[4] %}
    <div class="column"> <h3>{{ song[3] }} <em>BPM</em></h3></div>
    {% else %}
    <div class="column"> <h3>{{ song[3] }} - {{ song[4] }} <em>BPM range</em></h3></div>
    {% endif %}
    <div class="column"> <h3><strong>--></strong> {{ song[0] }}</h3> </div>
</div>
{% endfor %}
</div>
{% endblock %}