<!DOCTYPE html>
<html>
<head>
<title>Welcome to PackParser</title>
</head>

<body>
    <p>
        Nous somme le {{ date }} et voici la liste des  cinq derniers packs de rentrés !<br><br>
        L'idée du site est de proposer une base de données pour rechercher :<br>
        <ul>
            <li>Des packs de musiques avec ce qu'ils contiennent</li>
            <li>Des musiques selon différents critères (stepper/ speed/ difficulté ...)</li>
        </ul>
    </p>
    <p>
        Voici les derniers packs rentrés :
    </p>
    <table border=1>
        <thead>
            <td> Nom du pack</td>
        </thead>
        {% for row in rows %}
            <tr>
                <td>{{ row["pack_name"] }}</td>
            </tr>
        {% endfor %}
    </table>
    <!-- Formulaire pour chercher un pack et son contenu -->
    <form action="/lfp/" target="/lfp/" method="POST">
        Pack ? : <input type="text" name="pack_name"<br>
        <input type="submit" value="Submit" />
    </form>
    <!-- Formulaire pour chercher des songs et des infos sur celles-ci -->
    <form>
    
    </form>
</body>

</html> 