<!DOCTYPE html>
<html>
<head>
<title>Welcome to PackParser</title>
</head>

<body>
    <p>
        {% if id %}
            Voici la liste des songs dans {{ pack_name }}
        {% else %}
            Tu as demandé la liste des packs contenant {{ pack_name['pack_name'] }}
        {% endif %}
    </p>

    {% if id %}
        {% for row in rows %}
            <table border=1>
                <thead>
                    <td> {{ row['song_name'] }} </td>
                    <td> {{ row['speed'] }}     </td>
                    <td> <img src="/static/images/{{ row['banner_path'] }}" /></td>
                </thead>
            {% for row2 in rows2 %}
                {% if row['song_name'] == row2['song_name'] %}
                <tr>
                    <td> {{ row2['stepper_name'] }}      </td>
                    <td> {{ row2['difficulty_block'] }}  </td>
                    <td> {{ row2['difficulty_name'] }}  </td>
                </tr>
                {% endif %}
            {% endfor %}
            </table>
        {% endfor %}
    {% else %}
        <table border=1>
            <thead>
                <td>¯\_(ツ)_/¯</td>
            </thead>
        {% for row in rows %}
            <tr>
                <td><a href="/lfp/{{row['id']}}" > {{ row['pack_name'] }} </a></td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
</body>
</html> 